
a img {
  border: none;
}






#lightbox {
  text-shadow: none;
}





.imageRow:after {
  content: "";
  display: table;
  clear: both;
}
/* line 320, ../sass/screen.sass */
.imageRow .single {
-moz-transition-duration: 0.5s;
    -moz-transition-timing-function: ease-out;
	-webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
  float: left;
  /* height:100px;
  width:100px; */
  padding:5px;
  margin:5px 5px;
  border:1px solid gray;
}
.imageRow .single:hover {
background-color:#D0EB6A;
}
.wrap{
  /* height:100px;
  width:100px;
   overflow:hidden; */
}

/* line 332, ../sass/screen.sass */
.imageRow .single a img {
  max-width:100px;
  min-height:100px;
  border-radius: 4px;
}

.imageRow .set {
  /* float: left;*/
  background: rgba(255, 255, 255, 0.1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  padding:10px;
}
/* line 343, ../sass/screen.sass */
.imageRow .set:hover {
  background: rgba(255, 255, 255, 0.2);
}
/* line 346, ../sass/screen.sass */
.imageRow .set .single a {
  background: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin-right: 0;
}